body {
  margin: 0;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

h1 {
  color: #08D9D6;
  font-size: 90px;
  margin: 0 auto;
  margin-top: 70px;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #08D9D6;
  font-family: 'Pacifico', cursive;
}

h3 {
  color: #08D9D6;
  font-family:'Pacifico', cursive;
}


.top-container{
  background-color: #E3FDFD;
  padding-top: 100px;
}

.Bottom-container {
  background-color: #08D9D6;
  padding: 20px 0px 20px;
}

.footer-link {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #DEFCF9
}

div {
  background-color: #E3FDFD;
}

.pro{
  color: #08D9D6;
  font-size: 40px;
}


.Pro{
  color: #222831;
  text-decoration: underline;
}
.bottom-class{
  position: absolute;
  right: 350px;
  top: 50px;
}
.top-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skills-row {
  width: 50%;
  margin: 50px auto 50px auto;
}

.pics{
  width: 25%;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 4px;
    width: 5%
}

.message{
  width: 50%;
  margin: 40px auto 40px auto;
  font-family: 'Montserrat', sans-serif;
}

